/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width:920px) and (max-height:1200px) {
    body {
    font-size: 1em;
	}
}
@media screen and (min-width:1440px) and (max-height:1200px) {
    body {
    font-size: 1.05em;
	}
}

.fixed-fab.is--visible {
  visibility: visible;
}

.fixed-fab.is--visible .book-now--nav-button {
	transform: translate(0,0)
}

.fixed-fab {
  visibility: hidden;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Nav Menu */

@media screen and (max-width:1024px) and (min-width:992px) {
  	.custom-hide {
    	display: none;
    }
  }
  .navbar_menu-wrapper.is--open .navbar_menu {
  	transform: translate(0%, 0%);
  }
  .navbar_menu-wrapper.is--open .navbar_scrim {
  	opacity: 1;
  }
  .no-scroll {
    overflow: hidden;
	}

/* Filter tab items */

.tab-flex-item.is--active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    display: block;
    bottom:0px;
    background-color: #005faf;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 9;
	}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
  .navbar_menu-wrapper.is--open .navbar_menu {
  	transform: translate(0%, 0%);
  }
  .navbar_menu-wrapper.is--open .navbar_scrim {
  	opacity: 1;
  }
  .no-scroll {
    overflow: hidden;
	}

.slider-snap-list, .slider-snap-list-small, .review-carousel {
  direction: ltr;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-stop: normal;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
 }

.scroll-snap-item, .card-review {
  scroll-snap-align: center;
 }

/* Review Carousel */

 .review-carousel > .card-review:nth-child(4n+1) {
  background-color: #f8edfb;
}

.review-carousel > .card-review:nth-child(4n+2) {
  background-color: #e8f5e3;
}

.review-carousel > .card-review:nth-child(4n+3) {
  background-color: #eff0ff;
}

.review-carousel > .card-review:nth-child(4n+4) {
  background-color: #e3f3ff;
}

[data-slider], [card-carousel] {
    cursor: grab;
  }

[data-slider].active, [card-carousel].active {
    scroll-snap-type: none;
    cursor: grabbing;
  }

@media screen and (min-width:992px) {
  .slider-snap-list::-webkit-scrollbar, .slider-snap-list-small::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    }
 }
  .review-carousel::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    }

/* horizontal Scroller */

.icon-button-outline.is-disabled .icon-button-inner {
    border-color: rgba(28, 27, 31, 0.12);
    pointer-events: none; /* Disable pointer events on disabled buttons */
  }
.icon-button-outline.is-disabled .icon-button-inner:hover {
    background-color: none; /* Remove hover background color */
  }
.icon-button-outline.is-disabled .icon-button-inner:hover .icon-24 {
    opacity: 0.38; /* Also reduce the opacity of the icon on hover */
  }
.icon-button-outline.is-disabled .icon-24 {
    opacity: 0.38;
  }

/* review card reveal */

.reviewer-quote {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.reviewer-quote.is--full {
	overflow: visible;
	-webkit-line-clamp: unset;
}

/* FAQ Expanding */

.faq-item.is--expanded .faq-text-content-block{
  	height: auto;
  }
  .faq-item.is--expanded .faq-answer-content {
    padding-bottom: 3rem;
  }
  .faq-item.is--expanded .faq-arrow{
  	transform: rotate(180deg);
  }

.faq-rich-text .is--expanded + p {
	height: auto;
  padding-bottom: 1rem;
  transform: translate(0rem,0rem);
  opacity: 1;
}

.faq-rich-text h3::after {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex: 0 0 auto;
    background-image: url('https://uploads-ssl.webflow.com/640801637e0e2c44c99a32f0/646f932f9874c0e6e9d186d3_arrow_drop_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}
h3.is--expanded::after {
    transform: rotate(-180deg);
}

.reasons-rich li::before {
    content: ""; 
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #dee8f5;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    background-image: url("https://uploads-ssl.webflow.com/640801637e0e2c44c99a32f0/640f5c941a61b3781ad33be5_checkmark.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.3em;
}

/* Split Doctor Location CTA Styles */

@media screen and (min-width: 992px) {
    .image-card-square:hover {
      width: 75%
    }
    .image-card-square:hover  .dual-cta-image {
      transform: translate(0rem, 0px)
    }
    .image-card-square:hover  .dual-reveal-content {
      transform: translate(0rem, 0px)
    }
    .image-card-square:hover  .dual-cta-text-animated {
       height: 70%
    }

   .image-card-square:hover .dual-cta-image-wrap {
    opacity: 0;
   }
 }

/* Doctor Page Styles */

.about-richtext {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 16;
	-webkit-box-orient: vertical;
}

.about-richtext.is--full {
	overflow: visible;
	-webkit-line-clamp: unset;
}

/* map card styles */

@media screen and (min-width:992px) {
  #resetZoomBtn {
    display:none;
  }
}

.locations_card-grid-wrapper.is--expanded .map-card-wrapper {
	grid-area: Expanded / Expanded / Expanded / Expanded;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.locations_card-grid-wrapper.is--expanded #resetZoomBtn {
	display: block;
}

.locations_card-grid-wrapper.is--expanded .map-card-wrapper .map-background{
	display: block;
}

.locations_card-grid-wrapper.is--expanded .map-cards-wrap {
	display: block;
}

.locations_card-wrapper {
	grid-area: 1 / 2 / 3 / 3;
}

.locations_card-grid-wrapper.is--expanded .locations_card-wrapper {
	grid-area: Cards / Cards / Cards / Cards;
}

@media screen and (max-width:991px) {
  .locations_card-grid-wrapper.is--expanded .map-thumbnail-ratio {
	 padding-top: 100%
  }
}

/* Single Location Markers */

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    background-image: url("https://uploads-ssl.webflow.com/640801637e0e2c44c99a32f0/645a4eb387614de4c366cb27_Marker.svg");
    background-repeat: no-repeat;
}

.marker.marker-selected {
  background-image: url("https://uploads-ssl.webflow.com/640801637e0e2c44c99a32f0/645a453f8cfb320158b7f8d3_Marker.svg");
}

.marker-large {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    background-image: url("https://uploads-ssl.webflow.com/640801637e0e2c44c99a32f0/645a453f8cfb320158b7f8d3_Marker.svg");
    background-repeat: no-repeat;
    width: 40px; /* Add a width */
    height: 40px; /* Add a height */
    background-size: 40px 40px; /* Make sure the background image fits the marker size */
}