.slider-snap-list, .slider-snap-list-small {
  direction: ltr;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-stop: normal;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
 }

.scroll-snap-item {
  scroll-snap-align: center;
 }

[data-slider] {
    cursor: grab;
  }

[data-slider].active {
    scroll-snap-type: none;
    cursor: grabbing;
  }

@media screen and (min-width:992px) {
  .slider-snap-list::-webkit-scrollbar, .slider-snap-list-small::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    }
 }

.icon-button-outline.is-disabled .icon-button-inner {
    border-color: rgba(28, 27, 31, 0.12);
    pointer-events: none; /* Disable pointer events on disabled buttons */
  }
.icon-button-outline.is-disabled .icon-button-inner:hover {
    background-color: none; /* Remove hover background color */
  }
.icon-button-outline.is-disabled .icon-button-inner:hover .icon-24 {
    opacity: 0.38; /* Also reduce the opacity of the icon on hover */
  }
.icon-button-outline.is-disabled .icon-24 {
    opacity: 0.38;
  }

